
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('/static/fonts/Raleway-ExtraLight.otf');
  font-display: swap;
}

@font-face {
  font-family: 'ostrich-sans-regular';
  src: url('/static/fonts/ostrich-sans-regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ostrich-sans-bold';
  src: url('/static/fonts/ostrich-sans-bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'LeagueMono-CondensedThin';
  src: url('/static/fonts/LeagueMono-CondensedThin.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('/static/fonts/Raleway-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('/static/fonts/Raleway-Light.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('/static/fonts/Raleway-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'ChunkFive-Regular';
  src: url('/static/fonts/ChunkFive-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron Light';
  src: url('/static/fonts/Orbitron Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ostrich-sans-inline-regular';
  src: url('/static/fonts/ostrich-sans-inline-regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron Medium';
  src: url('/static/fonts/Orbitron Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Chunk Five Print';
  src: url('/static/fonts/Chunk Five Print.otf');
  font-display: swap;
}

@font-face {
  font-family: 'LeagueMono-Condensed';
  src: url('/static/fonts/LeagueMono-Condensed.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'ostrich-sans-light';
  src: url('/static/fonts/ostrich-sans-light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Blackout Sunrise';
  src: url('/static/fonts/Blackout Sunrise.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Blackout 2 AM';
  src: url('/static/fonts/Blackout 2 AM.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Blackout Midnight';
  src: url('/static/fonts/Blackout Midnight.ttf');
  font-display: swap;
}
